<h1>  Dragon's Home</h1>

<form action="/dragons/create" method="post" enctype="multipart/form-data">
<label for="nameInput"></label>
<input type="text" name="name" id="nameInput" placeholder="Draco">

<label for="locationInput"></label>
<input type="text" name="location" id="locationInput" placeholder="Winterfell">

<label for="kewlFactorInput"></label>
<input type="number" name="kewlFactor" id="kewlFactorInput" placeholder="5">

<label for="imageInput"></label>
<input type="file" name="image" id="imageInput" placeholder="">

<label for=""></label>
<input type="text" name="" id="" placeholder="">
</form>